.score {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--light);
    padding: 10px;
    max-width: 400px;
    transition: all 0.2s ease;

    &:hover {
        color: white;
        box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.2);
        border: 1px solid white;
    }
}

.player-icon,
.player2-icon {
    display: flex;
    flex-direction: column;
}

.numbers {
    display: flex;
    gap: 50px;
}

.score img {
    max-width: 50px;
}
