.card-game {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
}

.choose-level {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.choose-level button {
    width: 100%;
    max-width: 150px;
    font-size: 1.3em;
    background: none;
    color: var(--light);
    border: 1px solid var(--light);
    transition: all 0.2s ease;
    padding: 10px 25px;
    cursor: pointer;

    &:hover {
        color: white;
        border: 1px solid white;
        box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.2);
    }
}
